attrs==21.4.0
c2cwsgiutils==4.1.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
colorama==0.4.4
cryptography==3.3.2
defusedxml==0.7.1
dicttoxml==1.7.4
filetype==1.0.7
future==0.18.2
GeoAlchemy2==0.8.5
geolink-formatter==2.0.1
greenlet==1.1.2
hupper==1.10.3
idna==3.3
importlib-metadata==4.10.0
jsonschema==3.2.0
lxml==4.6.5
Mako==1.1.5
mako-render==0.1.0
MarkupSafe==2.0.1
numpy==1.19.5
-e git+https://github.com/AGIBE/oereb_server.git@fe3672488dee08747e9e41facfef53fb1f68a168#egg=oereb_server
Paste==3.5.0
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
psycopg2==2.9.1
pyconizer==0.1.4
pycparser==2.21
Pygments==2.11.2
pyOpenSSL==21.0.0
PyPDF2==1.26.0
pyproj==3.2.0
pyramid==1.10.8
pyramid-debugtoolbar==4.9
pyramid-mako==1.1.0
pyramid-oereb==2.0.0b8
pyreproj==2.0.0
pyrsistent==0.18.0
PyYAML==5.4.1
repoze.lru==0.7
requests==2.26.0
Shapely @ file://geoda.infra.be.ch/arbeit/Anwend/OEREBK/Dokumentation/P06_System/TS6_%C3%96REBServer/Software/wheels/Shapely-1.6.4.post2-cp37-cp37m-win_amd64.whl
simplejson==3.17.4
six==1.16.0
SQLAlchemy==1.4.23
SQLAlchemy-Utils==0.37.8
tqdm==4.62.1
transaction==3.0.1
translationstring==1.4
typing-extensions==4.0.1
urllib3==1.26.6
venusian==3.0.0
waitress==2.0.0
WebOb==1.8.7
zipp==3.7.0
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.6
