atomicwrites==1.4.0
attrs==21.2.0
c2cwsgiutils==4.1.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.8
colorama==0.4.4
coverage==6.2
cryptography==3.3.2
defusedxml==0.7.1
dicttoxml==1.7.4
filetype==1.0.7
future==0.18.2
GeoAlchemy2==0.8.5
geolink-formatter==2.0.1
greenlet==1.1.2
hupper==1.10.3
idna==3.3
importlib-metadata==4.8.2
iniconfig==1.1.1
jsonschema==3.2.0
lxml==4.6.3
Mako==1.1.5
mako-render==0.1.0
MarkupSafe==2.0.1
numpy==1.19.5
-e git+file://geoda.infra.be.ch/arbeit/Anwend/OEREBK/repos/oereb_server3.git@7cc505b3330e7f2ff839c35aa739f6acf1726d4a#egg=oereb_server
packaging==21.3
Paste==3.5.0
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
psycopg2==2.9.1
py==1.11.0
pyconizer==0.1.4
pycparser==2.21
Pygments==2.10.0
pyOpenSSL==21.0.0
pyparsing==3.0.6
PyPDF2==1.26.0
pyproj==3.2.0
pyramid==1.10.8
pyramid-debugtoolbar==4.9
pyramid-mako==1.1.0
pyramid-oereb==2.0.0b6
pyreproj==2.0.0
pyrsistent==0.18.0
pytest==6.2.4
pytest-cov==2.12.1
pytest-ordering==0.6
PyYAML==5.4.1
repoze.lru==0.7
requests==2.26.0
requests-mock==1.9.3
Shapely @ file://geoda.infra.be.ch/arbeit/Anwend/OEREBK/Dokumentation/P06_System/TS6_%C3%96REBServer/Software/wheels/Shapely-1.6.4.post2-cp37-cp37m-win_amd64.whl
simplejson==3.17.4
six==1.16.0
SQLAlchemy==1.4.23
SQLAlchemy-Utils==0.37.8
toml==0.10.2
tqdm==4.62.1
transaction==3.0.1
translationstring==1.4
typing_extensions==4.0.1
urllib3==1.26.6
venusian==3.0.0
waitress==2.0.0
WebOb==1.8.7
zipp==3.6.0
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.6
